<ion-view view-title={{title}} style="background-color: #F2F2F2">
<ion-nav-buttons side="left">
<button class="button icon-left ion-home" ng-click= "GoBack()" ng-if="!gameState.isPlayingTheGame">
Menu
</button>
<button class="button icon-left ion-chevron-left" ng-click= "exitHunt()" ng-if="gameState.isPlayingTheGame">
Back
</button>
</ion-nav-buttons>
<ion-content>
<div class="list" style="background-color: #F2F2F2" ng-if="!gameState.isPlayingTheGame">
	<div class="item card padding" ng-repeat="hunt in hunts" style="background-color: white">
		<p style="font-size:1.2em; padding: 10px 0px 5px 16px;">{{hunt.name}}
			<a class="button icon-right ion-chevron-right button-clear button-positive" style ="float: right; padding-top: 0px;" ng-click="joinHunt(hunt)">Go</a>
		</p>
		<div class="list">
			<div class="item">
				<p>Start Location: {{hunt.startLoc}}</p>
			</div>
			<!--	 <div class="item">
					<p>Players:</p>
			</div> -->
			
			<div class = "item">
				<p># of Steps: {{hunt.steps.length}}</p>
			</div>
		</div>
	</div>
</div>
<div class="list" style="background-color: #F2F2F2" ng-if="gameState.isPlayingTheGame">
	<div class="list card">
		<div>
			<p style="font-size: 2em; padding-top: 15px; padding-left: 15px; padding-bottom: 5px; color: #444">Hint {{gameState.hintNumber + 1}}</p>
		</div>
		<div class="item item-body">
			<p>
				{{selectedHunt.steps[gameState.hintNumber].hint}}
			</p>
			<label class="item item-input">
				<input type="text" placeholder="Your answer" ng-model="answer">
			</label>
			<button class="button button-full button-positive" ng-click="correctAnswer(answer)">
  Submit
</button>

		</div>
	</div>
</div>
</ion-content>
</ion-view>