<ion-view view-title="Start A New Hunt!">
	<ion-nav-buttons side="left">
		<button class="button icon-left ion-home" ng-click= "GoBack()">
			Menu
		</button>
	</ion-nav-buttons>
  <ion-content>
<!-- <h1>Enter New Hunt Name</h1> -->
<!-- BASIC INFORMATION PHASE -->
<div class="list" ng-if = "step === 0">
	<label class="item item-input">
		<input type="text" placeholder="Hunt Name" ng-model="user.huntName">
	</label>
	
	<label class="toggle" name="public">
		<input type="checkbox" ng-model= "hunt.requirePassword">
		<div class="track">
			<div class="handle">
			</div>
		</div> Private
	</label>
	<label class="item item-input" ng-if="hunt.requirePassword">
		<span class="input-label" >Password</span>
		<input type="password" ng-model="user.password">
		<div class = "assertive" ng-show = "hunt.requirePassword">
		</div>
	</label>
</div>
<!-- ADDING HINTS PHASE -->
<div class="card" ng-if= "step > 0">
	<div class="item item-header">
		Welcome to {{user.huntName}}
	</div>
	<div class="card" ng-repeat="hint in allTheHints">
		<div class="item item-divider" ng-bind="'Adding Hint:' + ($index + 1)"></div>
		<div class="item item-text-wrap">
			<label class="item item-input">
				<input type="text" placeholder="Hint Description" ng-model="hint.description">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Answer" ng-model="hint.answer">
			</label>
		</div>
	</div>
</div>
<button class="button button-positive button-block" ng-click = "signIn()" ng-if="step == 0">Start</button>
<div class="button-bar" ng-if="step > 0">
	<a class="button" ng-click = "addHint()">Add Hint</a>
	<a class="button button-calm" ng-click = "save()">Save</a>
</div>
  </ion-content>
</ion-view>