<ion-nav-view name="welcome">
	<ion-view view-title="Welcome to Hunt">
		<ion-content class="homescreen">
			<h1 class="whitetext">Welcome to the Scavenger Hunt</h1>
			
			<div class="on screen">
				<button class="button button-full button-calm" ng-click= "JoinAHunt()">
					Join
				</button>
				<button class="button button-full button-calm" ng-click= "CreateAHunt()">
					Create
				</button>
			</div>
		</ion-content>
	</ion-view>
</ion-nav-view>