
<ion-nav-bar class="bar-stable">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Create" icon-off="ion-plus-round" icon-on="ion-plus-round" href="#/tab/create">
    <ion-nav-view name="tab-create"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Join" icon-off="ion-search" icon-on="ion-search" href="#/tab/join">
    <ion-nav-view name="tab-join"></ion-nav-view>
  </ion-tab>
  
</ion-tabs>

