<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="Create" icon-off="ion-plus-round" icon-on="ion-plus-round" href="#/tab/create">
    <ion-nav-view name="tab-create"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Join" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/join">
    <ion-nav-view name="tab-join"></ion-nav-view>
  </ion-tab>
</ion-tabs>
